*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font and body Styles */

body{
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    max-width: 75vw;
    margin: 0 auto;
}

/* Header Styles */

#course-title{
    display: block;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    
}

header{
    display: flex;
    flex-direction: column;
    background-color: #e6be04;
    margin-bottom: 1rem;
}

header nav{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #000000;
    padding: .75rem 0;
    
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

nav a:hover{
    color: #e6be04;
    
}

/* Main Content */

main{
    margin: 0 2rem ;
}

main h1{
    text-align: center;
    margin: 2rem 0;
   
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.card h2{
    text-align: center;
    background-color: #e6be04;
    padding: .5rem 0;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-content img {
    border-radius: 5px;
    align-self: center;
}

.text-content p {
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

footer p {
    margin-bottom: 0.5rem;
}
